<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wstry1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RublevGYM"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.WSTry1">
        <activity android:name=".Registration" />
        <activity android:name=".YourParametrs" />
        <activity android:name=".ActivityTrainning" />
        <activity android:name=".ManAct" />
        <activity android:name=".SexChangeForm" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".SplashTheme"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>